<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>可视化验证点</title>
    <link href="static/main.css" rel="stylesheet" type="text/css">
    <script src="static/gojs.js"></script>
</head>
<style>
    input[type=submit], button, a.button {
        background: #fff;
        color: #171515 !important;
        border: 0;
    }

    canvas {
        border: 0px;
        outline: none;
    }
</style>
<body>
<div id="outer">
    <div id="header">
        <ul id="topnav">
            <li id="interval">
                <label for="update-every" id="status"><span class="status-ok">Refreshed 2019-06-21 14:37:57</span>
                </label>
                <select id="update-every">
                    <option value="5000" selected="selected">Refresh every 5 seconds</option>
                    <option value="10000">Refresh every 10 seconds</option>
                    <option value="30000">Refresh every 30 seconds</option>
                    <option value="">Do not refresh</option>
                </select>
            </li>
        </ul>
        <div id="logo">
            <a href=" #" style="font-size:40px;">数据可视化</a>
            <span id="versions"><abbr
                    title="Available exchange types: direct, fanout, headers, topic">营销2.0技术验证</abbr><abbr
                    title="Erlang/OTP 21 [erts-10.3.5.1] [source] [64-bit] [smp:1:1] [ds:1:1:10] [async-threads:64] [hipe]">Time 2019.06.21</abbr></span>
        </div>
        <div id="menu">
            <ul id="tabs">
                <li><a href=" #/connections">同步</a></li>
                <li><a href=" #/channels" class="selected">缓存</a></li>
                <li><a href=" #/exchanges">负载均衡</a></li>
                <li><a href=" #/queues">性能</a></li>
                <li><a href=" #/users">自动化部署</a></li>
                <li><a href=" #/users">日志监控</a></li>
            </ul>
        </div>
    </div>
    <div id="rhs"></div>
    <div id="main" class="">
        <h1 style="font-size: 16px;">缓存</h1>
        <div class="updatable"></div>
        <div class="updatable"></div>
        <div class="section section-visible">
            <h2 style="background: #666;color: #fff;">动态统计图</h2>
            <div class="hider updatable" style="display:block;">
                <h3>微服务数据流程可视化</h3>
                <div class="box">
                    <div style="margin-bottom: 40px;">
                        <div>
                            <div class="colour-key" style="background: #20C997;"></div>
                            activated
                        </div>
                        <div>
                            <div class="colour-key" style="background: #CED4DA;"></div>
                            inactivated
                        </div>

                    </div>
                    <div id="go" style="width: 500px;height: 200px; z-index: 0;position: relative;float: left;"></div>
                    <div style="position: relative;float: left;margin-left: 100px;">
                        <table class="legend">
                            <tbody>
                            <tr>
                                <th><span title="Click to toggle line" class="rate-visibility-option"
                                          data-pref="chart-line-msg-rates-overpublish">MariaDB记录量</span></th>
                                <td>
                                    10000
                                </td>
                            </tr>
                            <tr>
                                <th><span title="Click to toggle line" class="rate-visibility-option"
                                          data-pref="chart-line-msg-rates-overconfirm">耗时</span></th>
                                <td>
                                    10s
                                </td>
                            </tr>
                            <tr>
                                <th><span title="Click to toggle line" class="rate-visibility-option"
                                          data-pref="chart-line-msg-rates-overdeliver">MongoDB记录数</span></th>
                                <td>
                                    10000
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="legend">
                            <tbody>
                            <tr>
                                <th><span title="Click to toggle line" class="rate-visibility-option"
                                          data-pref="chart-line-msg-rates-overpublish">操作类型</span></th>
                                <td>
                                    查询
                                </td>
                            </tr>
                            <tr>
                                <th><span title="Click to toggle line" class="rate-visibility-option"
                                          data-pref="chart-line-msg-rates-overconfirm">SQL</span></th>
                                <td style="width: 200px;">
                                    select * from TABLE_NAME
                                </td>
                            </tr>
                            <tr>
                                <th><span title="Click to toggle line" class="rate-visibility-option"
                                          data-pref="chart-line-msg-rates-overdeliver">序号</span></th>
                                <td>
                                    No.1
                                </td>
                            </tr>
                            <tr>
                                <th><span title="Click to toggle line" class="rate-visibility-option"
                                          data-pref="chart-line-msg-rates-overdeliver">时间间隔</span></th>
                                <td>
                                    5s
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div class="section section-visible">
            <h2 style="background: #666;color: #fff;">过程数据列表</h2>

            <div class="hider updatable" style="display:block;">

                <table class="list">
                    <tbody>
                    <tr>
                        <th>Column A</th>

                        <th>Column B</th>


                        <th>Column C</th>


                        <th>Column D</th>


                        <th>Column E</th>


                        <th>Column F</th>


                        <th>Column G</th>


                        <th>Column H</th>


                        <th>Column I</th>


                    </tr>

                    <tr class="alt1">
                        <td>
                            <a href=" #/nodes">rabbit@localhost</a>

                        </td>


                        <td>

                            <div class="status-bar" style="width: 120px;">
                                <div class="status-bar-main">
                                    33
                                </div>
                            </div>

                        </td>


                        <td>
                            <div class="status-bar" style="width: 120px;">
                                <div class="status-bar-main">
                                    1
                                </div>

                            </div>
                        </td>


                        <td>

                            <div class="status-bar" style="width: 120px;">
                                <div class="status-bar-main">
                                    404
                                </div>
                            </div>
                        </td>


                        <td>


                            <div class="status-bar" style="width: 120px;">
                                <div class="status-bar-main">
                                    95MiB
                                </div>
                            </div>

                        </td>


                        <td>


                            <div class="status-bar" style="width: 120px;">
                                <div class="status-bar-main ">
                                    17GiB
                                </div>
                            </div>

                        </td>


                        <td><span>14h 3m</span></td>


                        <td>
                            <span>14h 3m</span>
                        </td>


                        <td>

                            <span>14h 3m</span>
                        </td>
                    </tr>
                      <tr>
                        <td>
                            <a href=" #/nodes">rabbit@localhost</a>

                        </td>


                        <td>

                            <div class="status-bar" style="width: 120px;">
                                <div class="status-bar-main">
                                    33
                                </div>
                            </div>

                        </td>


                        <td>
                            <div class="status-bar" style="width: 120px;">
                                <div class="status-bar-main">
                                    1
                                </div>

                            </div>
                        </td>


                        <td>

                            <div class="status-bar" style="width: 120px;">
                                <div class="status-bar-main">
                                    404
                                </div>
                            </div>
                        </td>


                        <td>


                            <div class="status-bar" style="width: 120px;">
                                <div class="status-bar-main">
                                    95MiB
                                </div>
                            </div>

                        </td>


                        <td>


                            <div class="status-bar" style="width: 120px;">
                                <div class="status-bar-main ">
                                    17GiB
                                </div>
                            </div>

                        </td>


                        <td><span>14h 3m</span></td>


                        <td>
                            <span>14h 3m</span>
                        </td>


                        <td>

                            <span>14h 3m</span>
                        </td>
                    </tr>
                     <tr class="alt1">
                        <td>
                            <a href=" #/nodes">rabbit@localhost</a>

                        </td>


                        <td>

                            <div class="status-bar" style="width: 120px;">
                                <div class="status-bar-main">
                                    33
                                </div>
                            </div>

                        </td>


                        <td>
                            <div class="status-bar" style="width: 120px;">
                                <div class="status-bar-main">
                                    1
                                </div>

                            </div>
                        </td>


                        <td>

                            <div class="status-bar" style="width: 120px;">
                                <div class="status-bar-main">
                                    404
                                </div>
                            </div>
                        </td>


                        <td>


                            <div class="status-bar" style="width: 120px;">
                                <div class="status-bar-main">
                                    95MiB
                                </div>
                            </div>

                        </td>


                        <td>


                            <div class="status-bar" style="width: 120px;">
                                <div class="status-bar-main ">
                                    17GiB
                                </div>
                            </div>

                        </td>


                        <td><span>14h 3m</span></td>


                        <td>
                            <span>14h 3m</span>
                        </td>


                        <td>

                            <span>14h 3m</span>
                        </td>
                    </tr>
                      <tr>
                        <td>
                            <a href=" #/nodes">rabbit@localhost</a>

                        </td>


                        <td>

                            <div class="status-bar" style="width: 120px;">
                                <div class="status-bar-main">
                                    33
                                </div>
                            </div>

                        </td>


                        <td>
                            <div class="status-bar" style="width: 120px;">
                                <div class="status-bar-main">
                                    1
                                </div>

                            </div>
                        </td>


                        <td>

                            <div class="status-bar" style="width: 120px;">
                                <div class="status-bar-main">
                                    404
                                </div>
                            </div>
                        </td>


                        <td>


                            <div class="status-bar" style="width: 120px;">
                                <div class="status-bar-main">
                                    95MiB
                                </div>
                            </div>

                        </td>


                        <td>


                            <div class="status-bar" style="width: 120px;">
                                <div class="status-bar-main ">
                                    17GiB
                                </div>
                            </div>

                        </td>


                        <td><span>14h 3m</span></td>


                        <td>
                            <span>14h 3m</span>
                        </td>


                        <td>

                            <span>14h 3m</span>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="section-hidden section-visible">
            <h2 style="background: #666;color: #fff;">配置项</h2>
            <div class="hider updatable" style="display:block;">
                <h3>Connection operations
                </h3>
                <div class="box">
                    <div id="chart-connection-churn" class="chart chart-full chart-small chart-rates"
                         style="padding: 0px; position: relative;">

                    </div>
                    <table class="legend"></table>
                    <table class="legend">
                        <tbody>
                        <tr>
                            <th><span title="Click to toggle line" class="rate-visibility-option"
                                      data-pref="chart-line-connection-churnconnection_created">Created</span></th>
                            <td>
                                <div class="colour-key" style="background: #edc240;"></div>
                                0.00/s
                            </td>
                        </tr>
                        <tr>
                            <th><span title="Click to toggle line" class="rate-visibility-option"
                                      data-pref="chart-line-connection-churnconnection_closed">Closed</span></th>
                            <td>
                                <div class="colour-key" style="background: #afd8f8;"></div>
                                0.00/s
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="section-hidden section-visible">
            <h2 style="background: #666;color: #fff;">测试环境</h2>
            <div class="hider updatable" style="display:block;">
                <h3>Listening ports</h3>
                <table class="list">
                    <tbody>
                    <tr>
                        <th>Protocol</th>

                        <th>Bound to</th>
                        <th>Port</th>
                    </tr>

                    <tr class="alt1">
                        <td>amqp</td>

                        <td>::</td>
                        <td>5672</td>
                    </tr>

                    <tr class="alt2">
                        <td>clustering</td>

                        <td>::</td>
                        <td>25672</td>
                    </tr>

                    <tr class="alt1">
                        <td>http</td>

                        <td>::</td>
                        <td>15672</td>
                    </tr>

                    </tbody>
                </table>
                <h3>Web contexts</h3>
                <table class="list">
                    <tbody>
                    <tr>
                        <th>Context</th>

                        <th>Bound to</th>
                        <th>Port</th>
                        <th>SSL</th>
                        <th>Path</th>
                    </tr>
                    <tr class="alt1">
                        <td>RabbitMQ Management</td>

                        <td>0.0.0.0</td>
                        <td>15672</td>
                        <td class="c"></td>
                        <td>/</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="section-hidden administrator-only section-visible">
            <h2 style="background: #666;color: #fff;">测试结论</h2>
            <div class="hider" style="display:block;">
                <table class="two-col-layout">
                    <tbody>
                    <tr>
                        <td>
                            成功率：100%
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <input type="hidden" name="vhost" value="all">

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="section-hidden administrator-only section-visible">
            <h2 style="background: #666;color: #fff;">异常提示</h2>
            <div class="hider" style="display:block;">
                Error.
            </div>
        </div>


    </div>

</div>
<div id="debug"></div>
<div id="scratch"></div>
<script>
    init();

    function init() {
        var $ = go.GraphObject.make;

        myDiagram =
            $(go.Diagram, "go",
                {
                    "toolManager.hoverDelay": 10,
                    initialContentAlignment: go.Spot.TopCenter,
                    "toolManager.mouseWheelBehavior": go.ToolManager.WheelNone,
                    allowCopy: false,
                    isReadOnly: true,
                    layout:
                        $(go.TreeLayout,
                            {angle: 0, nodeSpacing: 20, layerSpacing: 60, layerStyle: go.TreeLayout.LayerUniform})
                });

        var bluegrad = '#90CAF9';
        var pinkgrad = '#F48FB1';

        function tooltipTextConverter(person) {
            let str = "";
            str += "Born: " + person.birthYear;
            if (person.deathYear !== undefined) str += "\nDied: " + person.deathYear;
            if (person.reign !== undefined) str += "\nReign: " + person.reign;
            return str;
        }

        // define tooltips for nodes
        let tooltiptemplate =
            $("ToolTip",
                {"Border.fill": "whitesmoke", "Border.stroke": "black"},
                $(go.TextBlock,
                    {
                        font: "bold 8pt Helvetica, bold Arial, sans-serif",
                        wrap: go.TextBlock.WrapFit,
                        margin: 5
                    },
                    new go.Binding("text", "", tooltipTextConverter))
            );

        // define Converters to be used for Bindings
        function genderBrushConverter(gender) {
            if (gender === "M") return "#20C997";
            if (gender === "F") return pinkgrad;
            if (gender === "Y") return "#20C997";
            if (gender === "N") return "red";
            return "#CED4DA";
        }

        // replace the default Node template in the nodeTemplateMap
        myDiagram.nodeTemplate =
            $(go.Node, "Auto",
                {deletable: false, toolTip: tooltiptemplate},
                new go.Binding("text", "name"),
                $(go.Shape, "RoundedRectangle",
                    {
                        fill: "lightgray",
                        stroke: null, strokeWidth: 0,
                        stretch: go.GraphObject.Fill,
                        alignment: go.Spot.Center
                    },
                    new go.Binding("fill", "gender", genderBrushConverter)),
                $(go.TextBlock,
                    {
                        font: "400 12px Droid Serif, sans-serif",
                        textAlign: "center",
                        margin: 3, maxSize: new go.Size(80, 40)
                    },
                    new go.Binding("text", "name"))
            );


        myDiagram.nodeTemplateMap.add("EndPoint",
            $(go.Node, "Auto",
                $(go.Shape, "Ellipse",
                    {
                        fill: "red",
                        stroke: null,
                        portId: "", fromLinkable: true, cursor: "pointer"
                    },
                    new go.Binding("fill", "gender", genderBrushConverter)),
                $(go.TextBlock,
                    {
                        font: "400 10pt Helvetica, Arial, sans-serif",
                        editable: false,
                        maxSize: new go.Size(60, 40)
                    },
                    new go.Binding("text", "name").makeTwoWay())
            ));

        // define the Link template
        myDiagram.linkTemplate =
            $(go.Link,  // the whole link panel
                {
                    routing: go.Link.Orthogonal, curviness: 2,
                    selectable: false,
                    fromSpot: go.Spot.Bottom, toSpot: go.Spot.Top
                },
                $(go.Shape, {strokeWidth: 1.5, stroke: '#424242'}),
                $(go.Shape, {toArrow: "Standard"})
            );
        // here's the family data
        var nodeDataArray = [
            {
                key: 0,
                name: "start",
                gender: "Y",
                birthYear: "1865",
                deathYear: "1936",
                reign: "1910-1936",
                category: "EndPoint"
            },
            {key: 1, parent: 0, name: "MariaDB", gender: "M", birthYear: "1894", deathYear: "1972", reign: "1936"},
            {
                key: 8,
                parent: 1,
                name: "Error",
                gender: "",
                birthYear: "1895",
                deathYear: "1952",
                reign: "1936-1952",
                category: "EndPoint"
            },
            {key: 2, parent: 1, name: "MongoDB", gender: "M", birthYear: "1895", deathYear: "1952", reign: "1936-1952"},
            {key: 3, parent: 2, name: "Success", gender: "Y", birthYear: "1926", reign: "1952-", category: "EndPoint"},
            {key: 7, parent: 2, name: "Error", gender: "", birthYear: "1926", reign: "1952-", category: "EndPoint"},
            {key: 4, parent: 0, name: "MongoDB", gender: "", birthYear: "1982"},
            {key: 5, parent: 4, name: "Error", gender: "", birthYear: "1984", category: "EndPoint"},
            {key: 6, parent: 4, name: "Success", gender: "", birthYear: "1984", category: "EndPoint"}
        ];

        // create the model for the family tree
        myDiagram.model = new go.TreeModel(nodeDataArray);

    }
</script>


</body>
</html>